.container{
    display: grid;
    grid-template-columns: auto 1fr 200px;
    grid-template-rows: 1fr 2fr;
    height: 300px;
    gap: 10px;
    padding: 10px;
}
.container div{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header{
    background-color: red;
}

.sidebar{
    background-color: yellow;
}
.content{
    background-color: black;
    color: white;
}
.footer{
    background-color: bisque;
}

.bottom{
    background-color: brown;
}